input:not([type=submit]) {

}

input[type=submit] {
	display: inline-block;
	outline: none;
	
	&:hover {
	}
	&:active {
	}
}
input.error {
	border: 2px solid red !important;
}

.select-1 {
	font-size: 20px;
	color: #4b4b4b;
	font-size: 16px;
	font-weight: 300;
	font-family: $rb;
}


.btn.size-m {
	height: 32px;
	padding: 0 22px;
	line-height: 32px;
	color: white;
	font-size: 16px;
}
.bottom-header a.btn.size-m {
	padding: 0 !important;
}
.btn-white {
	background: #fff;
	color: #4d4d4d;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	border-radius: 16px;
	position: relative;
	border: none;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}


.btn-grey {
	color: #fff;
	background-color: #c1a285;
	border-radius: 16px;
	position: relative;
	border: none;

	outline: none;
	background-color: #c1a285;
	background-image: linear-gradient(to top, #b28c68 0%, #b28c68 20%, #d7c2b0 100%);
	box-shadow: 0 11px 29px rgba(0, 0, 0, 0.29);
	&:hover {
		background-image: none;
		box-shadow: none;
	}
	&:active {
		background-color: #ccc;
	}
	&:after {
		content: '';
		display: block;
		position: absolute; 
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1px solid rgba(242, 242, 242, 0.21);
		border-radius: 16px;
	}
}




.form-row {
	margin-top: 10px;
	margin-bottom: 10px;
}



.field-text.size-m {
	height: 32px;
	padding: 0 24px;
	font-size: 16px;
}

.field-text {
	display: inline-block;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.inp-white {
	background: #fff;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	border-radius: 16px;
	position: relative;
	color: #4d4d4d;
	border: none;
	font-size: 16px;
	font-weight: 300;
	outline: none;
}