input:not([type=submit]) {
	outline: none;
}

input[type=submit] {
	display: inline-block;
	outline: none;
	
	&:hover {
	}
	&:active {
	}
}
input.error {
	border: 2px solid red !important;
}


.btn-edit {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	width: 34px;
	height: 32px;
	background-color: #cda385;
	border-radius: 16px;
	position: relative;
	&:hover {
		opacity: .8;
	}
	.ic-pencil {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.select-1 {
	font-size: 20px;
	color: #4b4b4b;
	font-size: 16px;
	font-weight: 300;
	font-family: $rb;
}


.btn.size-m {
	height: 32px;
	padding: 0 22px;
	line-height: 32px;
	color: white;
	font-size: 16px;
}
.bottom-header a.btn.size-m {
	padding: 0 !important;
}
.btn-white {
	background: #fff;
	color: #4d4d4d !important;
	border-radius: 16px;
	position: relative;
	border: none;
	&:hover {
		opacity: .8;
	}
}
.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	&:hover {
		cursor: pointer;
	}

}

a.refresh {
	i {
		transition: all 0.25s ease;
	}
	&:hover {
		i {
			transform: rotate(90deg);
		}
	}
}

.btn-f-brown {
		outline: none;
		border: none;
		width: 114px;
		height: 32px;
		background-color: #cda385;
		border-radius: 16px;
		text-align: center;
		padding: 0 !important;
}
.btn-st {
	min-width: 80px !important;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	position: relative;
	text-align: center;
	transition: all 0.25s ease;
	@media #{$bp-medium} {
	      min-width: 50px !important;
	}
	@media #{$bp-small} {
	      min-width: 60px !important;
	}
	
	&:hover {
		opacity: .8;
	}
	&.disabled {
		background-color: #ccc;
		&:hover {
			opacity: 1;
		}
	}
	i {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		color: #fff;
		font-size: 16px;
	}
	.icon-icon-check {
		font-size: 14px;	
		line-height: 32px;
		color: #fff;
	}
	.icon-rouble {
		font-size: 18px;
	}
	.icon-icon-time {
		font-size: 17px;
	}
}

.btn-green {
	background-color: #6dc72a;
}


.btn-brown {
	background-color: #cda385;
}

.btn-red {
	background-color: red;
}

.btn-grey {
	color: #fff;
	border-radius: 16px;
	position: relative;
	border: none;

	outline: none;
	background-color: #cca284;
	background-image: linear-gradient(to top, #be8a63 0%, #be8a63 20%, #dcc1ae 100%);
	box-shadow: 0 11px 29px rgba(0, 0, 0, 0.29);
	&:hover {
		background-image: none;
		box-shadow: none;
		&:after {
			border: none;
		}
	}
	&:active {
		background-color: #ccc;
	}
	&:after {
		content: '';
		display: block;
		position: absolute; 
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1px solid rgba(255,255,255, .7);
		border-radius: 16px;
	}
}

.slideout-menu-btn {
	width: 24px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 16px 0;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	font-weight: normal;
	-webkit-appearance: none;
	background: none;
	border: none;
	outline: none;
}


.form-row {
	margin-top: 10px;
	margin-bottom: 10px;
}



.field-text.size-m {
	height: 32px;
	padding: 0 24px;
	font-size: 16px;
}

.field-text {
	display: inline-block;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.inp-white {
	background: #fff;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	border-radius: 16px;
	position: relative;
	color: #4d4d4d;
	border: none;
	font-size: 16px;
	font-weight: 300;
	outline: none;
}
.inp-white__brown {
	height: 34px;
	background-color: white;
	border: 1px solid #c1a285;
	border-radius: 16px;
}