@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";
@import "_menu-hide.scss";
@import "_select.scss";
@import "_icomoon.scss";
// @import "_bootstrap_media_xxs.scss";

.js-slide-wrap {
	position: relative;
}
.js-slide {
	display: none;
	position: relative;
}

.wrapper-p {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	
}

.content-title {
	padding: 50px 10px 32px;
	@media #{$bp-small} {
		padding: 30px 10px;
	}
	.justify-item {
		@media #{$bp-small} {
			vertical-align: top !important;
		}
		.dib {
			vertical-align: middle;
		}
		.position-stl {
			margin-left: 28px;
			@media #{$bp-small} {
				margin-left: 0;
				margin-top: 8px;
				margin-bottom: 10px;
				display: block !important;
			}
		}
	}
}

.title-style {
	color: #a36345;
	font-size: 36px;
	text-transform: uppercase;
	@media #{$bp-small} {
		font-size: 27px;
	}
}

.blur {
	position: relative;
	background-color: rgba(147, 99, 72, 0.5);
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(163, 99, 69, 0.5);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.18), 0 8px 16px rgba(0, 0, 0, 0.48);
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		filter: blur(7px);
		overflow: hidden;
		background: url(../img/bg-1.jpg) center 0 no-repeat fixed;
		background-size: cover;
	}
}
.section-1 {
	position: relative;
	background: url(../img/bg-1.jpg) center top no-repeat fixed;
	background-size: cover;
	&.header-bg {
		background: url(../img/header.jpg) center top no-repeat;
		background-size: cover;
		.hightlight {
			opacity: .6;
		}
		.header:before {
			display: none;
		}

	}
	.container {
		position: relative;
		z-index: 2;
	}
	.hightlight {
		position: absolute;
		background: url(../img/h.png) center top repeat-x;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 245px;
		// z-index: 1;
	}
	.top-city {
		padding: 2px 0 2px 0px;
		font-size: 12px;
		a {
			text-decoration: none;
			display: inline-block;
			position: relative;
			color: white;
			font-size: 12px;
			line-height: 17px;
			padding-left: 15px;
			.icon-icon-place {
				font-size: 18px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.header {
		position: relative;
		address a {
			color: #fff;
		}
		.btn-grey {
			&:after {
				display: none;
			}
		}
		.h-logo {
			margin-top: 8px;
			@media #{$bp-small} {
				margin-bottom: 8px;
			}
			a {
				display: inline-block;
				img {
					width: 165px;
					height: 54px;
				}
			}
		}
		.h-contacts {
			margin-top: 18px;
			address + address {
				margin-top: 5px;
			}
		}
		.h-menu {
			margin: 0;
			&>menu >li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 3px 0 0;
				text-transform: uppercase;
				font-size: 12px;
				position: relative;
				@media #{$bp-medium} {
					font-size: 11px;
				}
				&>a {
					color: #fff;
					display: inline-block;
					padding: 26px 9px 25px;
					border-bottom: 3px solid transparent;
					&:hover {
						text-decoration: none;
						border-color: #fff;
						color: #c1a285;
					}
				}
				.h-menu--dd {
					position: absolute;
					top: 100%;
					left: 0;
					width: 195px;
					margin-top: 0px;
					display: none;
					font-weight: 300;
					background: #fff;
					border: 1px solid #d1d1d1;
					box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
					z-index: 10;
				}
			}
		}
		.h-enter {
			margin-top: 18px;
		}
	}
	.top-tabs.container {
		position: relative;
		z-index: 1;
	}
	.top-catalog-menu {
		margin-top: 143px;
		@media #{$bp-medium} {
			margin-top: 90px;
		}
		.top-tabs-caption {
			text-transform: uppercase;
			border-bottom: 1px solid #fff;
			li {
				width: 50%;
				float: left;
				text-align: center;
				padding: 21px 0 14px;
				position: relative;
				&:first-child {
					a {
						padding-left: 85px;
					}
				}
				a {
					display: inline-block;
					position: relative;
					color: white;
					font-weight: 300;
					padding-left: 73px;
					font-size: 53px;
					@media #{$bp-blarge} {
						font-size: 45px;
					}
					@media #{$bp-large} {
						font-size: 40px;
					}
					@media #{$bp-small} {
						padding: 0 !important;
						font-size: 18px;
					}
					&:hover {
						color: #cda385;
					}
					i {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0px, -50%);
						@media #{$bp-small} {
							display: none;
						}
					}
				}
				&.active {
					a {
						color: #cda385;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						bottom: 0;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-top: 0px #c0a083 solid;
						border-bottom: 7px #c0a083 solid;
						transform: translateY(1px);
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						bottom: 0;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-top: 0px #fff solid;
						border-bottom: 8px #fff solid;
						transform: translateY(1px);
					}
				}
			}
		}		
		.top-tabs-content {
			display: none;
			&.active {
				display: block;
				@media #{$bp-small} {
					padding-top: 20px;
				}
			}
			.top-tabs-item {
				float: left;
				width: 16.66%;
				text-align: center;
				padding-bottom: 25px;
				@media #{$bp-medium} {
					width: 50%;
					&:nth-child(2n+1) {
						clear: left;
					}
				}
				@media #{$bp-small} {
					width: 50%;
					&:nth-child(2n+1) {
						clear: left;
					}
					padding-bottom: 35px;
				}
				@media #{$bp-xsmall} {
					width: 100%;
				}
				a {
					display: inline-block;
				}
				.h-img {
					height: 140px;
					position: relative;
					display: table-cell;
					vertical-align: bottom;
					@media #{$bp-small} {
						height: auto;
					}
					i {
						bottom: 0;
					}
				}
				span {
					color: white;
					display: inline-block;
					font-size: 16px;
					line-height: 15px;
				}
			}
		}
	}

	.bottom-header {
		margin-top: 245px;
		padding-bottom: 84px;
		background-color: #f1f1f1;
		@media #{$bp-medium} {
			margin-top: 150px;
		}
		@media #{$bp-small} {
			padding-bottom: 40px;
		}
		.head-form {
			z-index: 3;
			position: absolute;
			bottom: 0;
			left: 0;
			@media #{$bp-small} {
				@media #{$bp-medium} {
					position: relative;
				}
			}
		}
		.abs-btn {
			position: absolute;
			right: 130px;
			z-index: 3;
			bottom: 0;
			@media #{$bp-blarge} {
				right: 110px;
			}
			@media #{$bp-large} {
				right: 90px;
			}
			@media #{$bp-medium} {
				right: 0;
			}
			@media #{$bp-small} {
				position: static;
			}
		}
		.btn {
			margin-left: 18px;
			width: 147px;
			@media #{$bp-large} {
				width: 107px;
			}
			@media #{$bp-medium} {
				margin: 5px;
			}
		}
		input {

			max-width: 218px;
			margin: 0px 5px;
			@media #{$bp-large} {
				width: 175px;
			}
			@media #{$bp-medium} {
				width: 150px;
			}
			@media #{$bp-small} {
				margin-bottom: 5px;
			}
		}

		.pattern-bg {
			background: url(../img/pattern.jpg) center top no-repeat;
			background-size: cover;
			padding: 33px 0 30px;
			.btn-grey:after {
				border: 1px solid rgba(242, 242, 242, 0.31);
			}
			@media #{$bp-small} {
				padding-bottom: 0;
				text-align: center;
			}
			.txt-stl-2 {
				margin-top: 5px;
			}
			[class*=-side] {
				padding: 0 10px;
				height: 100%;
				position: relative;
				z-index: 3;
				@media #{$bp-small} {
					padding-left: 0 !important;
					padding-right: 0 !important;
					margin: 0 !important;
				}

			}
			.line-white {
				border-right: 1px solid #fff;
				@media #{$bp-medium} {
					border: none;
				}
			}
			.mh-1 {
				padding-top: 3px;
				padding-bottom: 8px;
				position: relative;
				.percent {
					position: absolute;
					left: -26px;
					top: 6px;
					@media #{$bp-large} {
						width: 40%;
						height: auto;
					}
					@media #{$bp-small} {
						width: 30%;
						left: 0;
						position: relative;
						float: left;
					}
				}
				.lion {
					position: absolute;
					right: 0;
					top: -24px;
					@media #{$bp-large} {
						width: 40%;
						height: auto;
					}

					@media #{$bp-small} {
						width: 30%;
						top: 0;
						margin-top: -24px;
						left: 0;
						position: relative;
						float: left;
					}
				}
			}
			.right-side {
				@media #{$bp-small} {
					overflow: hidden;
				}
			}
			.left-side {
				padding-bottom: 40px;
				margin-left: 170px;
				@media #{$bp-blarge} {
					margin-left: 140px;
				}
				@media #{$bp-large} {
					margin-left: 132px;
				}
				@media #{$bp-medium} {
					margin-left: 70px;
				}
				@media #{$bp-small} {
					overflow: hidden;
					padding-bottom: 10px;
				}

			}
		}
	}

}










.catalog-col--num {
	width: 94px;
	display: inline-block;
	vertical-align: middle;
	.calc-res {
		width: 100%;
		height: 34px;
		display: block;
		padding: 4px 28px;
		background-color: white;
		border: 1px solid #c1a285;
		border-radius: 25px;
		position: relative;
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		&.disabled {
			.calc-minus,
			.calc-plus {
				background: #ccc;
			}
		}
		.calc-minus {
			position: absolute;
			top: 4px;
			left: 4px;
			width: 24px;
			height: 24px;
			background-color: #cca284;
			background-image: linear-gradient(to top, #be8a63 0%, #be8a63 20%, #dcc1ae 100%);
			border-radius: 15px;
			text-align: center;
			cursor: pointer;
			i.ico-minus {
				display: block;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 16px;
					height: 3px;
					background-color: #fff;
					margin: auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
		.calc-res--field {
			width: 100%;
			height: 24px;
			display: block;
			text-align: center;
			line-height: 24px;
			text-align: center;
			white-space: nowrap;
			.calc-field {
				width: 28px;
				display: inline-block;
				vertical-align: middle;
				font-size: 16px;
				color: #4b4b4b;
				border: none;
				background: none;
				text-align: center;
				outline: none;
			}
		}
		.calc-plus {
			position: absolute;
			top: 4px;
			right: 4px;
			left: auto;
			width: 24px;
			height: 24px;
			background-color: #cca284;
			background-image: linear-gradient(to top, #be8a63 0%, #be8a63 20%, #dcc1ae 100%);
			border-radius: 15px;
			text-align: center;
			color: #fff;
			cursor: pointer;
			i.ico-plus {
				display: block;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 16px;
					height: 3px;
					background-color: #fff;
					margin: auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				&::before {
					content: '';
					display: block;
					position: absolute;
					width: 3px;
					height: 16px;
					background-color: #fff;
					margin: auto;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
	}
}















.filter-pager {
	margin: 0 -2px;
	.filter-page-item {
		font-size: 16px;
		color: #4d4d4d;	
		display: inline-block;
		width: 31px;
		height: 30px;
		border: 1px solid #cda385;
		border-radius: 13px;
		text-align: center;
		line-height: 28px;
		margin: 0 2px;
	}	
	span.filter-page-item {
		border: transparent;
	}
	a.filter-page-item {
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		color: #cda385;
	}
}












.catalog-wrapp {
	text-align: center;
}


.js-find-row {
	.slick-prev:before, .slick-next:before {
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Enable Ligatures ================ */
		letter-spacing: 0;
		-webkit-font-feature-settings: "liga";
		-moz-font-feature-settings: "liga=1";
		-moz-font-feature-settings: "liga";
		-ms-font-feature-settings: "liga" 1;
		font-feature-settings: "liga";
		-webkit-font-variant-ligatures: discretionary-ligatures;
		font-variant-ligatures: discretionary-ligatures;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.slick-next {
		width: 17px;
		height: 45px;
		right: 13px;
		z-index: 5;
		&:before {
			content: '\e909';	
			font-size: 40px;
			opacity: 1;
		}
	}
	.slick-prev {
		width: 17px;
		height: 45px;
		left: 13px;
		z-index: 5;
		&:before {
			content: '\e907';
			font-size: 40px;
			opacity: 1;
		}
	}
	.slider-nav {
		@media #{$bp-medium} {
			margin-bottom: 20px;
		}
	}
	.sm-img {
		img {
			width: 100%;
			height: auto;
		}
	}
	.d-wrap {
		margin-bottom: 18px;
	}
	.text-style {
		padding-left: 30px;
		text-align: left;
		color: #fff;
		font-weight: 300;
		font-size: 13px;
		-webkit-font-smoothing: subpixel-antialiased;
		@media #{$bp-blarge} {
			padding-left: 10px;
		}
		.dotted-b {
			position: relative;
			color: white;
			font-size: 12px;
			line-height: 16px;
			@media #{$bp-large} {
				font-size: 11px;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				border-bottom: 1px dotted #fff;
				bottom: 4px;
				width: 100%;
				height: 1px;
				left: 0;
			}
			.bg-txt {
				background-color: #544640;
				position: relative;

				&:first-child {
					padding-right: 2px;
				}
				&:last-child {
					padding-left: 2px;
				}
			}
		}
		p {
			font-size: 13px;
			line-height: 17px;
			color: #fff;
			font-weight: 300;
			margin-bottom: 18px;
			@media #{$bp-large} {
				font-size: 12px;
				line-height: 14px;
			}
		}
		.w20 {
			width: 20%;
			float: left;
			padding: 0 10px;
			&:nth-child(5n+1) {
				clear: left;
			}
			@media #{$bp-xsmall} {
				width: 50%;
				text-align: center;
				&:nth-child(5n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			a {
				display: inline-block;
				text-decoration: none;
				@media #{$bp-xsmall} {
					margin: 5px 0;
				}
				img {
					max-width: 100%;
					height: auto;
				}
				span {
					display: block;
					color: white;
					font-size: 13px;
					line-height: 17px;
					margin-top: 5px;
				}
			}
		}
	}
	.title-hide-content {
		color: white;
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 2px;
		text-transform: uppercase;
		@media #{$bp-large} {
			font-size: 14px;
			line-height: 18px;
		}
	}
	.item-c {
		margin-bottom: 18px;
		@media #{$bp-xsmall} {
			width: 100%;
		}
		// &:nth-child(4n+1) {
		// 	clear: left;
		// }
		// @media #{$bp-medium} {
		// 	&:nth-child(4n+1) {
		// 		clear: none;
		// 	} 
		// 	&:nth-child(2n+1) {
		// 		clear: left;
		// 	}
		// }
		&+.hide-content {
			display: block;
			margin-bottom: 18px;
			.slider-bg {
				.f-img {
					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.hide-content {
		display: none;
		width: 100%;
		padding: 0 10px;
		clear: both;
		.content {
			background-color: #544640;
			min-height: 50px;
			position: relative;
			padding: 18px;
			.icon-close-content {
				position: absolute;
				cursor: pointer;
				right: 10px;
				top: 10px;
				font-size: 14px;
				color: #fff;
				z-index: 5;
			}
		}
	}
}

.rate {
	&.disabled {
		span:before,
		span:after {
			color: #cdcdcd !important;
		}
	}
	span {
		font-family: 'icomoon';
		display: block;
		font-size: 17px;
		position: relative;
		float: left;
		margin-right: 2px;
		&:before {
			content: '\e908';
			color: #4b4b4b;
			position: relative;
		}
		&:after {
			content: '\e90a';
			color: #4b4b4b;
			position: absolute;
			left: -1px;
		}
		&.icon-full {
			&:before {
				color: #ff9500;
			}
			&:after {
				color: #ff9500;	
			}
		}
		&.icon-half {
			&:before {
				color: #f7941f;
			}
		}
	}
}

.catalog-wrapp-item {
	cursor: pointer;
	text-align: left;
	background-color: #f1f1f1;
	padding: 10px 15px 70px;
	position: relative;
	width: 100%;
	@media #{$bp-medium} {
		display: inline-block;
		max-width: 275px;
	}
	@media #{$bp-blarge} {
		padding-left: 10px;
		padding-right: 10px;
	}
	.v-code {
		color: #4b4b4b;
		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.catalog-item-imgwrapp {
		margin: 10px -15px 7px;
		position: relative;
		@media #{$bp-blarge} {
			margin-left: -10px;
			margin-right: -10px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			max-height: 280px;
		}
		.choose-color {
			padding: 0 15px;
			position: absolute;
			bottom: 15px;
			z-index: 2;
			@media #{$bp-blarge} {
				padding: 0 10px;
			}
			.circle-col {
				width: 32px;
				height: 31px;
				border: 1px solid #f1f1f1;
				border-radius: 50%;
				display: inline-block;
				&.color-1 {
					background-color: #adaea9;
				}
				&.color-2 {
					background-color: rgba(0, 0, 0, 0.3);
				}
				&.color-3 {
					background-color: rgba(204, 143, 95, 0.3);
				}
				&.color-4 {
					background-color: rgba(80, 74, 39, 0.3);
				}
				&.color-5 {
					background-color: #e0a470;
				}
				&.color-6 {
					background-color: #a1806d;	
				}
				&.color-7 {
					background-color: #7e5b3f;
				}
				&.color-8 {
					background-color: #d7d7d8;
				}
				&.color-9 {
					background-color: #efbc87;
				}
				&.color-10 {
					background-color: #705340;
				}

			}
		}
	}
	.place {
		[class^=dsc] {
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
		}
		.dsc-1 {
			color: #4b4b4b;
		}
		.dsc-2 {
			color: #936348;
		}
	}
	.product {
		color: #4b4b4b;
		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 18px;
	}
	p {
		color: #4b4b4b;
		font-size: 12px;
		line-height: 16px;
		margin-top: 3px;
	}
	.price-block {
		padding-top: 13px;
		.price {
			display: inline-block;
			vertical-align: baseline;
			color: black;
			font-weight: 400;
			font-size: 36px;
			sub {
				font-size: 12px;
			}
		}
		.old-price {
			margin-left: 3px;
			font-size: 17px;
			font-weight: 900;
			color: #000;
			display: inline-block;
			vertical-align: baseline;
			span {
				text-decoration: line-through;
			}
			sub {
				font-size: 12px;
			}
		}
	}
	.button-box {
		position: absolute;
		left: 15px;
		right: 15px;
		bottom: 24px;
		text-align: justify;
		font-size: 1px;
		@media #{$bp-blarge} {
			left: 10px;
			right: 10px;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			overflow: hidden;
		}
		
		.btn {
			display: inline-block;
			vertical-align: middle;
			width: 142px;
			@media #{$bp-blarge} {
				width: 95px;
				padding: 0;
			}
		}
	}
}











.justify-c {
	&>.justify-item {
		vertical-align: middle;
		display: inline-block;
	}
}




































.js-dd-click {
	display: none;
}


div[class^=txt-stl] {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
}
.txt-stl-1 {
	font-size: 24px;
	line-height: 27px;
	@media #{$bp-blarge} {
		font-size: 20px;
	}
	@media #{$bp-large} {
		font-size: 15px;
	}
}
.txt-stl-2 {
	font-size: 53px;
	line-height: 52px;
	@media #{$bp-blarge} {
		font-size: 45px;
		line-height: 50px;
	}
	@media #{$bp-large} {
		font-size: 35px;
		line-height: 40px;
	}
	@media #{$bp-small} {
		font-size: 25px;
		line-height: 30px;
	}
}
.txt-stl-3 {
	font-size: 147px;
	line-height: 111px;
	@media #{$bp-blarge} {
		font-size: 120px;
		line-height: 110px;
	}
	@media #{$bp-large} {
		font-size: 110px;
		line-height: 100px;
	}
	@media #{$bp-small} {
		font-size: 60px;
		line-height: 50px;
	}
}






















.navigation-menu {
	text-align: center;
	padding: 32px 0 50px;
	a {
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		&.pager-arrow {
			position: relative;
			margin: 0 3px;
			i {
				display: inline-block;
				font-size: 22px;
				color: #4d4d4d;
				position: relative;
			}
		}
		&.dot-page {
			border-radius: 50%;
			width: 9px;
			height: 9px;
			border: 2px solid #4d4d4d;
			margin: 0 7px;
			&.active {
				background-color: #4d4d4d;
				border: 2px solid #4d4d4d;
			}
		}
	}
}













.bg-tree {
	background: url(../img/scheme.jpg) center top no-repeat;
	background-size: cover;
}

.scheme-section {
	padding: 40px 0 0;
	@media #{$bp-small} {
		padding-bottom: 25px;
	}
	.flex-1 {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-weight: 300;
		font-family: $os;
		text-shadow: 0 8px 8px rgba(0, 0, 0, 0.26);
		background: url(../img/shape.png) 82px 123px no-repeat;
		@media #{$bp-blarge} {
			background: none;
		}
		@media #{$bp-small} {
			display: block;
		}
		.flex-item {
			@media #{$bp-small} {
				text-align: left;
				padding-left: 0;
				width: 50%;
				float: left;
				margin-bottom: 25px;
				&:nth-child(2n+1) {
					float: left;
				}
			}
		}
		.dib {
			text-align: left;
			position: relative;
			padding-left: 60px;
			vertical-align: top;
			@media #{$bp-medium} {
			}
			@media #{$bp-xsmall} {
				display: block !important;
				text-align: center;
				padding-left: 0;

			}
		}
		&>div {
			text-align: center;
			width: 33.33%;
			margin: 40px 0;
			@media #{$bp-medium} {
				width: 50%;
			}
			@media #{$bp-small} {
				width: 100%;
				margin: 15px 0;
			}
			&:nth-child(1) {
				order: 1;
				margin-left: -45px;
				@media #{$bp-blarge} {
					margin-left: 0;
					margin-right: 0;
				}
			}
			&:nth-child(2) {
				order: 4;
				margin-left: 35px;
				margin-right: -20px;
				@media #{$bp-blarge} {
					margin-left: 0;
					margin-right: 0;
					order: 2;
				}
			}
			&:nth-child(3) {
				order: 2;
				margin-left: 30px;
				@media #{$bp-blarge} {
					margin-left: 0;
					margin-right: 0;
					order: 3;
				}
			}
			&:nth-child(4) {
				order: 5;
				@media #{$bp-blarge} {
					order: 4;
				}
			}
			&:nth-child(5) {
				order: 3;
				@media #{$bp-blarge} {
					order: 5;
				}
			}

		}
		.step-num {
			color: white;
			font-size: 104px;
			line-height: 87px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			@media #{$bp-blarge} {
				font-size: 70px;
				line-height: 60px;
			}
			@media #{$bp-small} {
				font-size: 50px;
				line-height: 55px;
			}

			i {
				display: inline-block;
				position: absolute;
				right: 100%;
				bottom: -8px;
			}
		}
		p {
			display: inline-block;
			vertical-align: top;
			color: white;
			font-size: 25px;
			line-height: 30px;
			@media #{$bp-blarge} {
				font-size: 18px;
				line-height: 22px;
			}
			@media #{$bp-small} {
				font-size: 14px;
				line-height: 19px;
			}

			@media #{$bp-xsmall} {
				clear: both;
				width: 100%;
				font-size: 15px;
				line-height: 17px;
			}
		}
	}
}


























.man-list {
	padding: 8px 0 3px;
}
.man-list--item {
	height: 85px;
	text-align: center;
	line-height: 85px;
	text-align: center;
	outline: none;
}

.man-list--item img {
	max-height: 100%;
	display: inline-block !important;
	vertical-align: middle;
}

.man-list--item a {
	display: inline-block;
	vertical-align: middle;
	opacity: 0.55;
	transition: all 0.2s ease;
	outline: none;
}

.man-list--item a:hover {
	opacity: 1;
}

.man-list .slick-prev, .man-list .slick-next {
	// width: 8px;
	// height: 21px;
	// margin-top: -10px;
	// transform: none;
	// text-indent: -9999px;
	// overflow: hidden;
	// z-index: 1;
	z-index: 5;
}

.man-list .slick-next {
	right: 0;
}
.man-list .slick-prev {
	left: 0;
}

.man-list .slick-prev:after, .man-list .slick-next:after {
	content: "\e907";
	font-family: 'icomoon' !important;
	font-size: 21px;
	display: inline-block;
	vertical-align: middle;
	color: #4d4d4d;
	opacity: 1;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	opacity: .55;
}
.man-list .slick-prev:hover:after, .man-list .slick-next:hover:after {
	opacity: 1;
}
.man-list .slick-next:after {
	content: "\e909";
}




// .man-list .slick-prev, .man-list .slick-prev:hover {
// 	left: 15px;
// 	background: url(../img/sprite.png) -58px -32px no-repeat;
// }

// .man-list .slick-next, .man-list .slick-next:hover {
// 	right: 15px;
// 	background: url(../img/sprite.png) -70px -32px no-repeat;
// }

































.sect-opinions {
	background-color: #f1f1f1;
	.sect-opinions--carousel {
		margin: 13px 0 50px;
		.rate {
			display: inline-block !important;
			vertical-align: middle;
		}
	}
}

.opinion-item {
	min-height: 243px;
	padding: 16px 17px 45px;
	margin: 0 10px;
	position: relative;
	background: #fff;
}

.carousel-opinions .slick-slide:nth-child(odd) .opinion-item {
	margin-top: 78px;
}


.opinion-item--header {
	margin-bottom: 15px;
}
.opinion-item--header .city {
	color: #4d4d4d;
	line-height: 17px;
	text-transform: uppercase;
}



.opinion-item--header .name a {
	color: #a36345;
	font-size: 13px;
	line-height: 17px;
}


.opinion-item--text {
	margin: 17px 0;
}

.opinion-item--text p {
	color: #4b4b4b;
	font-size: 13px;
	line-height: 17px;
}


.opinion-item--footer {
	position: absolute;
	bottom: 0;
	left: 17px;
	right: 17px;
	padding-bottom: 19px;
}


.opinion-item--footer .date {
	display: inline-block;
	vertical-align: middle;
	color: #4b4b4b;
	font-size: 13px;
	margin-left: 14px;
}

.slick-slider * {
	outline: none;
}

.opinion-ava {
	width: 141px;
	height: 141px;
	position: absolute;
	bottom: -75px;
	right: 19px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}


.opinion-ava img {
	min-width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
}


.opinion-ava:before {
	content: "";
	position: absolute;
	top: 64px;
	left: -75px;
	width: 61px;
	height: 39px;
	background: url(../img/b-r.png) center top no-repeat;
	
}

.carousel-opinions .slick-slide:nth-child(odd) .opinion-ava {
	bottom: auto;
	top: -75px;
}

.carousel-opinions .slick-slide:nth-child(odd) .opinion-ava:before {
	top: auto;
	bottom: 64px;
	background: url(../img/t-r.png) center top no-repeat;
	
}


.carousel-opinions--control {
	margin-top: 46px;
	text-align: center;
	position: relative;
}

.carousel-opinions--control .wrap {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.carousel-opinions--arrows {

}

body .carousel-opinions--arrows .slick-prev, body .carousel-opinions--arrows .slick-next {
	width: 16px;
	height: 21px;
	margin-top: -10px;
	top: 50%;
	transform: none;
	background: none;
	text-align: center;
}

body .carousel-opinions--arrows .slick-prev:hover, body .carousel-opinions--arrows .slick-next:hover {
	opacity: 0.65;
}

body .carousel-opinions--arrows .slick-prev:before, body .carousel-opinions--arrows .slick-next:before {
	display: none;
}

body .carousel-opinions--arrows .slick-next {
	right: -18px;
}

body .carousel-opinions--arrows .slick-prev:after {
	content: "\e907";
	font-family: 'icomoon' !important;
	font-size: 21px;
	display: inline-block;
	vertical-align: middle;
	color: #4d4d4d;
	opacity: 1;
}

body .carousel-opinions--arrows .slick-next:after {
	content: "\e909";
	font-family: 'icomoon' !important;
	font-size: 21px;
	display: inline-block;
	vertical-align: middle;
	color: #4d4d4d;
	opacity: 1;
}

.carousel-opinions--dots {
	position: relative;
}

body .carousel-opinions--dots ul.slick-dots {
	margin: 0;
	bottom: 0;
	position: relative;
}

body .carousel-opinions--dots .slick-dots li {
	width: 9px;
	height: 9px;
	vertical-align: middle;	
	padding: 0;
	margin: 0 8px 0 7px;
}

body .carousel-opinions--dots .slick-dots li:before {
	display: none;
}

body .carousel-opinions--dots .slick-dots li button {
	width: 9px;
	height: 9px;
	padding: 0px;
	border: 2px solid #4d4d4d;
	background: none;
	border-radius: 50%;
	position: relative;
	margin: 0;
}

body .carousel-opinions--dots .slick-dots li button:before {
	display: none;
}

body .carousel-opinions--dots .slick-dots li.slick-active button {
	background: #4d4d4d;
}










.comment-title-wrapp {
	padding: 36px 0 25px;
	.title-style {
		display: inline-block;
		vertical-align: middle;
	}
	.content-title--link {
		display: inline-block;
		vertical-align: middle;
		@media #{$bp-small} {
			float: right;
			margin-top: 20px;
		}
		a {
			color: #4d4d4d;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
}


.sect-comp {
	background-color: #fff;
	padding-bottom: 45px;
	.catalog-table--man--container {
		margin: 8px 0;
	}
	@media #{$min-m} {
		.row-border > *:before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 100%;
			width: 20px;
			height: 105%;
			margin-left: -10px;
			background: #fff;
		}
	}
	@media #{$bp-small} {
		.catalog-table--col__link {
			float: right;
		}
	}
	.catalog-table {
		.row-border {
			border-bottom: 1px solid #e6e6e6;
			@media #{$bp-small} {
				border-bottom: none;
			}
			&:first-child {
				border-top: 1px solid #e6e6e6;
			}
		}
		.catalog-table--row {
			padding: 16px 0 16px;
			@media #{$bp-small} {
				border-bottom: 1px solid #e6e6e6;
			}
		}
		.catalog-table--city {
			color: #4b4b4b;
			font-size: 16px;
			font-weight: 300;
			line-height: 27px;
			text-transform: uppercase;
			@media #{$bp-small} {
				font-size: 15px;
			}
		}
		.catalog-table--s {
			color: #4b4b4b;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			margin-top: 7px;
		}
		.catalog-table--man--title {
			color: #f79826;
			font-size: 12px;
			line-height: 16px;
		}
		.catalog-table--man {
			a {
				color: #a36345;
				font-size: 12px;
				line-height: 16px;
				text-decoration: none;
			}
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			&+.rate {
				display: inline-block !important;
				vertical-align: middle;
				margin: 0 5px;
			}
		}
		.catalog-table--link {
			text-decoration: none;
			color: #4d4d4d;
			font-size: 12px;
			text-transform: uppercase;
			margin-top: 15px;
			display: inline-block;
		}
	}
}











.sect-advantages {
	text-align: center;
	padding: 54px 0 65px;
	@media #{$bp-small} {
		padding-bottom: 45px;
	}
	@media #{$bp-small} {
		.adv-item {
			margin-bottom: 20px;
		}
	}
	i {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h3 {
		text-shadow: 0 8px 8px rgba(0, 0, 0, 0.26);
		color: white;
		font-size: 36px;
		font-weight: 300;
		line-height: 51px;
		font-family: $os;
		margin-top: 16px;
		margin-bottom: 12px;
		@media #{$bp-medium} {
			font-size: 28px;
			line-height: 39px;
		}
	}
	p {
		font-family: $os;
		text-shadow: 0 8px 8px rgba(0, 0, 0, 0.26);
		color: white;
		font-size: 13px;
		font-weight: 400;
		line-height: 23px;
		@media #{$bp-medium} {
			font-size: 12px;
			line-height: 22px;
		}
	}
}






























.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #54453f;
	z-index: 2;
	.btn-grey:after {
		border: 1px solid rgba(242, 242, 242, 0.31);
	}
	.col-xxs-12 {
		@media #{$bp-xsmall} {
			width: 100%;
		}
	}
	.mbxs {
		@media #{$bp-xsmall} {
			width: 39%;
			&:first-child {
				width: 60%;
			}
		}
	}
}

/* ****** f-action ****** */
.f-action {
	padding: 28px 0 37px;
	background: url(../img/footer.jpg) center top no-repeat;
	background-size: cover;
	text-align: center;
}

.f-action h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	@media #{$bp-small} {
		font-size: 20px;
	}
}

.f-action--form	{
	width: 41%;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 15px;
	@media #{$bp-small} {
		width: 100%;
		max-width: 80%;
	}
	@media #{$bp-xsmall} {
		max-width: 100%;
	}
	.btn {
		width: 178px;
		@media #{$bp-small} {
			width: auto;
			padding: 0 10px;
		}
	}
}


/* ****** f-wrapper ****** */
.f-wrapper {
	padding: 30px 0 10px;
	color: #fff;
	@media #{$bp-small} {
		text-align: center;
	}
	@media #{$bp-xsmall} {
		text-align: center;
	}
}

/* ****** f-logo ****** */
.f-logo {
	max-width: 170px;
	margin: 6px 0;
	@media #{$bp-small} {
		margin-left: auto;
		margin-right: auto;
	}
	@media #{$bp-xsmall} {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		display: inline-block;
		width: 100%;
		img {
			max-width: 100%;
		}
	}
}




/* ****** f-contacts ****** */
.f-contacts {
	margin: 12px 0;
	color: white;
	font-size: 12px;
	line-height: 17px;
	@media #{$bp-xsmall} {
		display: inline-block;

	}
}

.f-contacts address {
	display: block;
}

.f-contacts a {
	color: #fff;
	text-decoration: none;
}

.f-contacts a:hover {
	text-decoration: underline;
}




/* ****** f-menu ****** */
.f-menu {
	font-size: 12px;
	text-transform: uppercase;
	@media #{$bp-small} {
		text-align: center;
	}
}

.f-menu ul {
	margin: 0;
	font-size: 12px;
}

.f-menu li {
	margin: 7px 0 8px;
	padding-left: 0;
}

.f-menu li:before {
	display: none;
}

.f-menu a {
	color: #fff;
	text-decoration: none;
}

.f-menu a:hover {
	text-decoration: underline;
}

/* ****** f-soc ****** */
.f-soc {
	margin: 10px 0;
	text-align: center;
}

.f-soc--title {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}

.f-soc--list {
	margin: 8px 0;
	text-align: center;
}

.f-soc--list a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.f-soc--list a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-ms-opacity: 0.8;
	-o-opacity: 0.8;
	opacity: 0.8;
}






































/* ****** fix-scroll ****** */
.fix-scroll--wrap {
	.fix-scroll--title {
		color: #4d4d4d !important;
	}
	position: fixed;
	right: 0;
	z-index: 15;
	text-align: right;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 1.2s ease;
	-moz-transition: opacity 1.2s ease;
	-o-transition: opacity 1.2s ease;
	transition: opacity 1.2s ease;
}

.fix-scroll--wrap.active {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

.fix-scroll {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: left;
}

.fix-scroll--btn {
	position: absolute;
	left: -60px;
	top: 0;
	width: 60px;
	padding: 20px 10px 20px 15px;
	border-radius: 15px 0 0 15px;
	z-index: 1;
	background-color: #a26143;
	color: #fff;
	cursor: pointer;
}

.fix-scroll--btn:hover {
	filter: brightness(105%);
}

.cart-fix .fix-scroll--btn {
	background: #8dc63f;
}

.fix-scroll--btn .icon {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 23px;
}

.fix-scroll--btn .text {
	display: block;
	margin: 5px 0;
	position: relative;
	text-align: center;
}

.fix-scroll--btn .text-rotate {
	display: block;
	font-size: 16px;
	text-align: center;
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	white-space: nowrap;
	position: relative;
}

.fix-scroll--btn .num {
	display: block;
	text-align: center;
	margin-top: 9px;
	font-size: 16px;
}

.fix-scroll--container {
	width: 0px;
	overflow: hidden;
	background: #fff;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	-webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
}

.fix-scroll--container .wrap {
	width: 281px;
	display: block;
	padding: 23px 15px 30px 25px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}

.open .fix-scroll--container .wrap {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}



.fix-scroll--title {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
}

.fix-scroll .btn-submit {
	min-width: 150px;
}

































/* ****** BTN-TOP-WRAP ****** */
.btn-top-wrap {
	width: 43px;
	float: left;
	margin-left: 10px;
}

.btn-top-container {
	min-width: 900px;
	max-width: 1400px;
	margin: 0 auto;
}

#back-top {
	position: fixed;
	bottom: 50px;
	z-index: 99;
	transition: all 0.45s ease;
}

#back-top a {
	width: 88px;
	height: 88px;
	background-color: #a26143;
	color: #fff;
	display: block;
	vertical-align: middle;
	position: relative;
	transition: all 0.2s ease;
	border-radius: 100px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}

#back-top a:hover {
	background: #646464;
	text-decoration: none;
}

#back-top a span {
	display: block;
	margin: 3px 0;
	line-height: 1em;
}

#back-top a:before {
	content: "\e90c";
	font-family: 'icomoon' !important;
	font-size: 25px;
	color: #fff;
	margin-top: 20px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
}






































/* ****** lk-user ****** */
.lk-user {
	padding: 68px 0 28px;
	margin: 10px 0 16px;
	padding-bottom: 8px;
	position: relative;
}



.lk-user.border-b:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #e6e6e6;
}

.lk-user--logo	{
	margin-top: -8px;
	text-align: center;
}

.lk-user--logo .ava-round {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 55px;
	position: relative;
	overflow: hidden;
	@media #{$bp-xsmall} {
		width: 60px;
		height: 60px;
	}
}

.lk-user--logo .ava-round img {
	width: 100%;
	height: auto;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	-khtml-border-radius: 55px;
	border-radius: 55px;
	position: relative;
	overflow: hidden;
}

.lk-user--name {
	margin-bottom: 5px;
	color: #4d4d4d;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	@media #{$bp-small} {
		font-size: 30px;
	}
	@media #{$bp-xsmall} {
		font-size: 21px;
	}
}

.lk-user--city {
	margin: 5px 0;
	color: #cda385;
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	@media #{$bp-small} {
		font-size: 21px;
	}
	@media #{$bp-xsmall} {
		font-size: 16px;
	}
}

.lk-user--contacts {
	font-size: 13px;
	line-height: 1.2;
}

.lk-user--contacts a {
	color: #4b4b4b;
}

.lk-user--rate {
	margin-right: 10px;
}

.lk-user--rate--link {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.lk-user--text {
	overflow: hidden;
}

.lk-user--text p {
	margin: 0;
	font-size: 12px;
	line-height: 1.3;
}

.lk-user--gallery {
	width: 94px;
	float: right;
	margin-left: 15px;
}

.lk-user--gallery--add {
	width: 50%;
	height: 31px;
	float: left;
	padding: 0 1px 1px 0;
	position: relative;
	text-align: center;
	line-height: 29px;
	border: 1px solid #3dcef6;
}

.lk-user--gallery--add:before {
	content: "\e911";
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	color: #3dcef6;
}

.lk-user--gallery--item {
	width: 50%;
	height: 31px;
	float: left;
	padding: 0 1px 1px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.lk-user--gallery--item:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-ms-opacity: 0.8;
	-o-opacity: 0.8;
	opacity: 0.8;
}

.lk-user--gallery--item img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	display: inline-block;
	vertical-align: top;
}

.lk-user .btn-edit {
	font-family: Arial, sans-serif;
}

.lk-user--details {
	padding: 15px 0 0px;
	position: relative;
	font-size: 12px;
}

.lk-user--details ol {
	font-size: 12px;
}

.lk-user--details ol li {
	margin: 0;
	line-height: 1.2;
}

.lk-user--details p {
	font-size: 12px;
	line-height: 1.2;
}

.b-hide-btn  {
	padding: 12px 0 4px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #e6e6e6;
}

.b-hide-btn i {
	font-size: 18px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: relative;
	top: 0;
}

.b-hide-btn:hover i {
	top: -3px;
}

main.content {
	position: relative;
	.content-title {
		padding-left: 0;
		padding-right: 0;
	}
	address {
		color: #4d4d4d;
		font-size: 13px;
		line-height: 15px;
	}
	.w25 {
		@media #{$bp-xsmall} {
			width: 25%;
		}
	}
	.w75 {
		@media #{$bp-xsmall} {
			width: 75%;
		}
	}
}





h1 {
	color: #a36345;
	margin: 5px 0;
	font-size: 36px;
	font-weight: 400;
	line-height: 1;	
	text-transform: uppercase;
}
h2 {
	color: #a36345;
	font-size: 24px;
	font-weight: 300;
	line-height: 27px;
	text-transform: uppercase;
}

p {
	color: #4b4b4b;
	font-size: 13px;
	line-height: 17px;
}






























// catalog
div.catalog-table {
	.false-border {
		td {
			border-bottom: none;
			padding-top: 30px;
			@media #{$bp-small} {
				display: none;
				&:last-child {
					display: block;
					&:before {
						display: none;
					}
				}
			}
		}
	}
	table {
		width: 100%;
	}
	margin: 6px 0;
	tr {
		@media #{$bp-small} {
			&:nth-child(odd) {
				background-color: #efefef;
			}
		}
	}
	thead tr {
		@media #{$bp-small} {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	td{
		vertical-align: middle;
		@media #{$bp-small} {
			display: block;
			border: none;
			position: relative;
			padding-left: 48%;
			text-align: left !important;
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 35px;
			&:last-child {
				padding-right: 10px;
			}
			&:before {
				position: absolute;
				font-size: 13px;
				top: 10px;
				left: 10px;
				width: 42%;

			}
		}
	}
}
.catalog-col--btn {
	@media #{$bp-small} {
		text-align: left !important;
	}
}

.catalog-table--row {
	padding: 13px 0 14px;
}

.carousel-opinions {
	white-space: nowrap;
}

.carousel-opinions--item {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

.carousel-opinions--item {
	display: inline-block;
	vertical-align: middle;
}

.catalog-table .row-border:first-child {
	border-top: 1px solid #e6e6e6;
}

.catalog-table .row-border {
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.catalog-table--city {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}

.catalog-table--s {
	font-size: 12px;
	margin: 9px 0;
}

.catalog-table--man--title {
	margin-top: 3px;
	font-size: 12px;
	color: #8dc63f;
}

.catalog-table--man--container {
	margin: 8px 0;
}

.catalog-table--man {
	display: inline-block;
	vertical-align: middle;
	margin: 0 12px;
	font-size: 12px;
	color: #00adef;
	text-transform: uppercase;
}

.catalog-table--link {
	display: inline-block;
	vertical-align: middle;
	margin-top: 17px;
	font-size: 12px;
	color: #4d4d4d;
	text-decoration: none;
	text-transform: uppercase;
}

.catalog-table--link:hover {
	text-decoration: underline;
}




.catalog-table > table {
	width: 100%;
	border-collapse: collapse;
}

.catalog-table > table th {
	padding: 6px 10px 5px;
	background: #efefef;
	font-size: 12px;
	font-weight: normal;
	color: #a8a8a8;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: left;
	box-shadow: 0px 2px 0px #e6e6e6; 
}

.catalog-table > table th:last-child {
	border-right: none;
	padding-right: 0;
}

.catalog-table > table td {
	&:first-child {
		text-align: center;
		&.add-pdn {
			padding: 15px 0;
		}
	}
	padding: 0px 10px 1px;
	border-bottom: 1px solid #e6e6e6;
	vertical-align: middle;
	@media #{$bp-medium} {
		padding: 15px 10px;
	}
}

.catalog-table > table td:last-child {
	// padding-right: 0;
}

.catalog-col--name {
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.catalog-col--city {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
}

.col-disable {
	opacity: 0.3;
}

.catalog-col--doc {
	font-size: 16px;
	color: black;
	font-weight: 700;
	white-space: nowrap;
	span {
		display: block;
		color: #4a4a4a;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		text-transform: none;
		margin-top: 8px;
	}
}

.catalog-col--status {
	color: #4a4a4a;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	@media #{$bp-medium} {
		font-size: 14px;
	}
}

.catalog-col--opinions {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.catalog-opinions-dd {
	position: absolute;
	top: 100%;
	right: 50%;
	width: 297px;
	margin-top: 8px;
	margin-right: -25px;
	background: #fff;
	text-align: left;
	-webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	border: 1px solid #d1d1d1;
	z-index: 5;
}

.catalog-opinions-dd.up {
	top: auto;
	bottom: 100%;
	margin-bottom: 8px;
	margin-top: 0;
}

.catalog-opinions-dd.center {
	margin-right: -150px;
}



.catalog-opinions-dd.up:before {
	top: auto;
	bottom: -13px;
	background: url(../img/sprite.png) -59px -445px no-repeat;
}

.catalog-opinions-dd .wrap {
	padding: 19px 15px 14px;
}

.catalog-opinions--note {
	color: #4a4a4a;
	font-size: 13px;
	line-height: 17px;
}

.catalog-opinions-dd .symbol-count-num {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	line-height: 17px;
}


.catalog-comment-dd {
	position: absolute;
	top: 100%;
	right: 50%;
	width: 297px;
	margin-top: 8px;
	margin-right: -25px;
	background: #fff;
	text-align: left;
	-webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	border: 1px solid #d1d1d1;
	z-index: 5;
}

.js-dd-click.center:before {
	display: none;
}

.catalog-comment-dd.center {
	margin-right: -150px;
}

.catalog-comment-dd.up {
	top: auto;
	bottom: 100%;
	margin-bottom: 8px;
	margin-top: 0;
}

.catalog-comment-dd:before {
	content: "";
	position: absolute;
	top: -13px;
	right: 15px;
	width: 24px;
	height: 13px;
	background: url(../img/sprite.png) -28px -444px no-repeat;
	display: none;
}

.catalog-comment-dd.up:before {
	top: auto;
	bottom: -13px;
	background: url(../img/sprite.png) -59px -445px no-repeat;
}

.catalog-comment-dd .wrap {
	padding: 20px 28px 20px;
	.rate {
		display: inline-block;
		span {
			vertical-align: bottom;
		}
	}
}

.catalog-comment--header {
	margin-bottom: 12px;
}

.catalog-comment--title {
	color: #4d4d4d;
	font-size: 17px;
	line-height: 17px;
	text-transform: uppercase;
}

.catalog-comment--name {
	font-size: 12px;
	color: #cda385;
	font-size: 13px;
	line-height: 17px;
	a {
		color: #cda385;
	}
}

.catalog-comment--date {
	margin-top: 2px;
	font-size: 12px;
}

.catalog-comment--footer {
	margin-top: 15px;
}

.catalog-comment--text {
	margin: 25px 0 40px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.65;
}

.catalog-del-dd {
	position: absolute;
	top: 100%;
	right: 50%;
	width: 144px;
	margin-right: -25px;
	margin-top: 8px;
	background: #fff;
	text-align: left;
	-webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15); 
	border: 1px solid #d1d1d1;
	z-index: 5;
}

.catalog-del-dd.center {
	margin-right: -72px;
}

.catalog-del-dd.up {
	top: auto;
	bottom: 100%;
	margin-bottom: 8px;
	margin-top: 0;
}

.catalog-del-dd:before {
	content: "";
	position: absolute;
	top: -13px;
	right: 15px;
	width: 24px;
	height: 13px;
	background: url(../img/sprite.png) -28px -444px no-repeat;
}

.catalog-del-dd.up:before {
	top: auto;
	bottom: -13px;
	background: url(../img/sprite.png) -59px -445px no-repeat;
}

.catalog-del-dd .wrap {
	padding: 5px 10px 6px 21px;
}

.catalog-del-dd .link {
	margin: 3px 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	position: relative;
	padding-left: 30px;
}

.catalog-del-wrap.open .btn {
	background: #ff0000;
}

.catalog-del-dd .link:hover {
	text-decoration: none;
}

.round-blue .icon_m-del {
	width: 16px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -8px;
}

.round-blue {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	background: #3ac8f4;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	line-height: 24px;
	text-align: center;
	color: #fff;
}

.round-blue * {
	display: inline-block;
	vertical-align: middle;
}

a:hover .round-blue {
	background: #2a6496;
}

.catalog-del-dd .link-text {
	display: inline-block;
	vertical-align: middle;
}

.catalog-del-dd .round-blue {
	position: absolute;
	top: 0px;
	left: 0;
}

.catalog-col--mat {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
}

.catalog-col--marka {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	color: #4a4a4a;
	span {
		display: block;
		color: #4a4a4a;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		text-transform: none;
		margin-top: 8px;
	}
}

.catalog-col--v {
	font-size: 16px;
	font-weight: 300;
}

.catalog-col--date {
	font-size: 16px;
	font-weight: 300;
}

.catalog-col--note {
	max-width: 200px;
	font-size: 12px;
	color: #a6a6a6;
	line-height: 1.3;
}

.catalog-col--note--icon {
	text-align: center;
}

.catalog-table table .btn {
	min-width: 45px;
}



.catalog-col--price {
	white-space: nowrap;
	color: black;
	font-weight: 700;
	font-size: 16px;
}

.catalog-col--price small {
	font-size: 12px;
}

.catalog-col--dp {
	color: #4a4a4a;
	font-size: 12px;
	line-height: 16px;
	white-space: nowrap;
	margin-top: 8px;
}

.catalog-col--countdown {
	margin-top: 7px;
	font-size: 12px;
	color: #ff0000;
}

.catalog-col--num {
	// max-width: 170px;
	// min-width: 110px;
}

.field-opinions {
	border: 1px solid #cda385;
	border-radius: 16px;
	font-size: 16px;
	padding: 10px 20px !important;
	font-weight: 300;
	outline: none;
}





.triagle-css {
	position: relative;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 20px;
		bottom: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top: 0px #fff solid;
		border-bottom: 10px #fff solid;
		transform: translateY(1px);
		margin-bottom: 1px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 18px;
		bottom: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 0;
		height: 0;
		border: 12px solid transparent;
		border-top: 0px #fff solid;
		border-bottom: 12px #d1d1d1 solid;
		transform: translateY(1px);
		margin-bottom: 1px;
	}
}

























.title-cat {
	color: #a36345;
	font-size: 53px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	padding: 50px 0 50px 155px;
	margin-top: 40px;
	text-transform: uppercase;
	@media #{$bp-large} {
	      font-size: 45px;
	}
	@media #{$bp-medium} {
	      font-size: 35px;
	      margin-top: 20px;
	}
	@media #{$bp-small} {
	      font-size: 25px;
	}
	@media #{$bp-xsmall} {
	      font-size: 20px;
	}
	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}


.main-filter {
	.filter-caption-wrap {
		margin: 0 -10px;
		.filter-caption-item {
			width: 16.66%;
			float: left;
			padding: 5px 10px;
			position: relative;
			@media #{$bp-medium} {
				width: 33.33%;
				&:nth-child(3n+1) {
					clear: left;
				}
			}
			@media #{$bp-xsmall} {
				width: 50%;
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				z-index: 5;
				top: 100%;
				margin-left: auto;
				margin-right: auto;
				width: 0;
				height: 0;
				border: 9px solid transparent;
				border-top: 0px #f1f1f1 solid;
				border-bottom: 10px #f1f1f1 solid;
				transform: translateY(1px);
				margin-top: 6px;
				opacity: 0;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width: 0;
				height: 0;
				border: 9px solid transparent;
				border-top: 0px #fff solid;
				border-bottom: 10px #cda385 solid;
				transform: translateY(1px);
				margin-top: 5px;
				opacity: 0;

			}
			&.active {
				.btn {
					background: #cda385;
					box-shadow: none;
					&:after {
						display: none;
					}
				}
				&:after {
					opacity: 1;
					// transition: all .01s;
					display: block;
					@media #{$bp-medium} {
						display: none;
					}
				}
				&:before {
					opacity: 1;
					// transition: all .3s;
					display: block;
					@media #{$bp-medium} {
						display: none;
					}
				}
			}
			.btn {
				width: 100%;
				&.active {
					background: #cda385;
					box-shadow: none;
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.filter-prop-wrap {
		margin: 0 -10px;
		background-color: #f1f1f1;
		padding-bottom: 20px;	
		margin-top: 15px;
		position: relative;
		display: none;
		&.active {
			display: block;
		}
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 10px;
			right: 10px;
			height: 1px;
			background-color: #cda385;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		.filter-prop-item {
			padding: 5px 10px;
			padding-top: 40px;
			width: 16.66%;
			float: left;
			position: relative;
			@media #{$bp-medium} {
				width: 33.33%;
				&:nth-child(3n+1) {
					clear: left;
				}
			}
			@media #{$bp-xsmall} {
				width: 50%;
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: left;
				}
			}
			.btn {
				width: 100%;
			}
			.ik_select {
				width: 100%;
				position: relative;
				z-index: 3;
				background-color: #fff;
			}
			label {
				color: #cda385;
				font-size: 16px;
				line-height: 27px;
				display: block;
				position: absolute;
				top: 10px;
				left: 10px;
			}
		}
	}
}


.slick-track {
	.slick-slide {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}
}
