@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";
@import "_menu-hide.scss";
@import "_select.scss";
@import "_icomoon.scss";


.wrapper-p {
	overflow: hidden;
}

.content-title {
	padding: 50px 0 32px;
	@media #{$bp-small} {
		padding: 30px 0;
	}
	.justify-item {
		@media #{$bp-small} {
			vertical-align: top !important;
		}
		.dib {
			vertical-align: middle;
		}
		.position-stl {
			margin-left: 28px;
			@media #{$bp-small} {
				margin-left: 0;
				margin-top: 8px;
				margin-bottom: 10px;
				display: block !important;
			}
		}
	}
}

.title-style {
	color: #936348;
	font-size: 36px;
	text-transform: uppercase;
	@media #{$bp-small} {
		font-size: 27px;
	}
}

.blur {
	position: relative;
	background-color: rgba(147, 99, 72, 0.5);
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(147, 99, 72, 0.5);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.18), 0 8px 16px rgba(0, 0, 0, 0.48);
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		filter: blur(7px);
		overflow: hidden;
		background: url(../img/bg-1.jpg) center 0 no-repeat fixed;
		background-size: cover;
	}
}
.section-1 {
	position: relative;
	background: url(../img/bg-1.jpg) center top no-repeat fixed;
	background-size: cover;
	.container {
		position: relative;
		z-index: 2;
	}
	.hightlight {
		position: absolute;
		background: url(../img/h.png) center top repeat-x;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 245px;
		z-index: 1;
	}
	.top-city {
		padding: 2px 0 2px 0px;
		font-size: 12px;
		a {
			text-decoration: none;
			color: white;
			font-size: 12px;
			line-height: 17px;
		}
	}
	.header {
		position: relative;
		&:after {
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.58), 0 7px 14px rgba(0, 0, 0, 0.7);
		}
		address a {
			color: #fff;
		}
		.btn-grey {
			&:after {
				display: none;
			}
		}
		.h-logo {
			margin-top: 8px;
		}
		.h-contacts {
			margin-top: 18px;
			address + address {
				margin-top: 5px;
			}
		}
		.h-menu {
			margin: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 3px 0 0;
				text-transform: uppercase;
				font-size: 12px;
				position: relative;
				@media #{$bp-medium} {
					font-size: 11px;
				}
				a {
					color: #fff;
					display: inline-block;
					padding: 26px 9px 25px;
					border-bottom: 3px solid transparent;
					&:hover {
						text-decoration: none;
						border-color: #fff;
					}
				}
				.h-menu--dd {
					position: absolute;
					top: 100%;
					left: 0;
					width: 195px;
					margin-top: 27px;
					display: none;
					font-weight: 300;
					background: #fff;
					border: 1px solid #d1d1d1;
					-webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
					box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
					z-index: 2;
				}
			}
		}
		.h-enter {
			margin-top: 18px;
		}
	}

	.top-catalog-menu {
		margin-top: 143px;
		@media #{$bp-medium} {
			margin-top: 90px;
		}
		.top-tabs-caption {
			text-transform: uppercase;
			border-bottom: 1px solid #fff;
			li {
				width: 50%;
				float: left;
				text-align: center;
				padding: 21px 0 14px;
				position: relative;
				&:first-child {
					a {
						padding-left: 85px;
					}
				}
				a {
					display: inline-block;
					position: relative;
					color: white;
					font-weight: 300;
					padding-left: 73px;
					font-size: 53px;
					@media #{$bp-blarge} {
						font-size: 45px;
					}
					@media #{$bp-large} {
						font-size: 40px;
					}
					@media #{$bp-small} {
						padding: 0 !important;
						font-size: 18px;
					}
					&:hover {
						color: #c1a285;
					}
					i {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0px, -50%);
						@media #{$bp-small} {
							display: none;
						}
					}
				}
				&.active {
					a {
						color: #c1a285;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						bottom: 0;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-top: 0px #c0a083 solid;
						border-bottom: 7px #c0a083 solid;
						transform: translateY(1px);
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						bottom: 0;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-top: 0px #fff solid;
						border-bottom: 8px #fff solid;
						transform: translateY(1px);
					}
				}
			}
		}		
		.top-tabs-content {
			display: none;
			&.active {
				display: block;
				@media #{$bp-small} {
					padding-top: 20px;
				}
			}
			.top-tabs-item {
				float: left;
				width: 16.66%;
				text-align: center;
				padding-bottom: 25px;
				@media #{$bp-medium} {
					width: 50%;
					&:nth-child(2n+1) {
						clear: left;
					}
				}
				@media #{$bp-small} {
					width: 100%;
					padding-bottom: 35px;
				}
				a {
					display: inline-block;
				}
				.h-img {
					height: 140px;
					position: relative;
					display: table-cell;
					vertical-align: bottom;
					@media #{$bp-small} {
						height: auto;
					}
					i {
						bottom: 0;
					}
				}
				span {
					color: white;
					display: inline-block;
					font-size: 16px;
					line-height: 15px;
				}
			}
		}
	}

	.bottom-header {
		margin-top: 245px;
		padding-bottom: 84px;
		background-color: #f1f1f1;
		@media #{$bp-medium} {
			margin-top: 150px;
		}
		@media #{$bp-small} {
			padding-bottom: 40px;
		}
		.head-form {
			z-index: 3;
			position: absolute;
			bottom: 0;
			left: 0;
			@media #{$bp-small} {
				@media #{$bp-medium} {
					position: relative;
				}
			}
		}
		.abs-btn {
			position: absolute;
			right: 130px;
			z-index: 3;
			bottom: 0;
			@media #{$bp-blarge} {
				right: 110px;
			}
			@media #{$bp-large} {
				right: 90px;
			}
			@media #{$bp-medium} {
				right: 0;
			}
			@media #{$bp-small} {
				position: static;
			}
		}
		.btn {
			margin-left: 18px;
			width: 147px;
			@media #{$bp-large} {
				width: 107px;
			}
			@media #{$bp-medium} {
				margin: 5px;
			}
		}
		input {

			max-width: 218px;
			margin: 0px 5px;
			@media #{$bp-large} {
				width: 175px;
			}
			@media #{$bp-medium} {
				width: 150px;
			}
			@media #{$bp-small} {
				margin-bottom: 5px;
			}
		}
		
		.pattern-bg {
			background: url(../img/pattern.jpg) center top no-repeat;
			background-size: cover;
			padding: 33px 0 30px;
			@media #{$bp-small} {
				padding-bottom: 0;
			}
			.txt-stl-2 {
				margin-top: 5px;
			}
			[class*=-side] {
				padding: 0 10px;
				height: 100%;
				position: relative;
				z-index: 3;
				@media #{$bp-small} {
					padding-left: 0 !important;
					padding-right: 0 !important;
					margin: 0 !important;
				}

			}
			.line-white {
				border-right: 1px solid #fff;
				@media #{$bp-medium} {
					border: none;
				}
			}
			.mh-1 {
				padding-top: 3px;
				padding-bottom: 8px;
				position: relative;
				.percent {
					position: absolute;
					left: -26px;
					top: 6px;
					@media #{$bp-large} {
						width: 40%;
						height: auto;
					}
					@media #{$bp-small} {
						width: 30%;
						left: 0;
						position: relative;
						float: left;
					}
				}
				.lion {
					position: absolute;
					right: 0;
					top: -24px;
					@media #{$bp-large} {
						width: 40%;
						height: auto;
					}

					@media #{$bp-small} {
						width: 30%;
						top: 0;
						margin-top: -24px;
						left: 0;
						position: relative;
						float: left;
					}
				}
			}
			.right-side {
				@media #{$bp-small} {
					overflow: hidden;
				}
			}
			.left-side {
				padding-bottom: 40px;
				margin-left: 170px;
				@media #{$bp-blarge} {
					margin-left: 140px;
				}
				@media #{$bp-large} {
					margin-left: 132px;
				}
				@media #{$bp-medium} {
					margin-left: 70px;
				}
				@media #{$bp-small} {
					overflow: hidden;
					padding-bottom: 10px;
				}

			}
		}
	}

}


.filter-pager {
	margin: 0 -2px;
	.filter-page-item {
		font-size: 16px;
		color: #4d4d4d;	
		display: inline-block;
		width: 31px;
		height: 30px;
		border: 1px solid #c1a285;
		border-radius: 13px;
		text-align: center;
		line-height: 28px;
		margin: 0 2px;
	}	
	span.filter-page-item {
		border: transparent;
	}
	a.filter-page-item {
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		color: #c1a285;
	}
}












.catalog-wrapp {
	text-align: center;
}


.js-find-row {
	.item-c {
		margin-bottom: 18px;
		&:nth-child(4n+1) {
			clear: left;
		}
		@media #{$bp-medium} {
			&:nth-child(4n+1) {
				clear: none;
			} 
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
}


.catalog-wrapp-item {
	text-align: left;
	background-color: #f1f1f1;
	padding: 10px 15px 70px;
	position: relative;
	width: 100%;
	@media #{$bp-medium} {
		display: inline-block;
		max-width: 275px;
	}
	@media #{$bp-blarge} {
		padding-left: 10px;
		padding-right: 10px;
	}
	.v-code {
		color: #4b4b4b;
		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.catalog-item-imgwrapp {
		margin: 10px -15px 7px;
		position: relative;
		@media #{$bp-blarge} {
			margin-left: -10px;
			margin-right: -10px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			max-height: 280px;
		}
		.choose-color {
			padding: 0 15px;
			position: absolute;
			bottom: 15px;
			z-index: 2;
			@media #{$bp-blarge} {
				padding: 0 10px;
			}
			.circle-col {
				width: 32px;
				height: 31px;
				border: 1px solid #f1f1f1;
				border-radius: 50%;
				display: inline-block;
				&.color-1 {
					background-color: #adaea9;
				}
				&.color-2 {
					background-color: rgba(0, 0, 0, 0.3);
				}
				&.color-3 {
					background-color: rgba(204, 143, 95, 0.3);
				}
				&.color-4 {
					background-color: rgba(80, 74, 39, 0.3);
				}
				&.color-5 {
					background-color: #e0a470;
				}
				&.color-6 {
					background-color: #a1806d;	
				}
				&.color-7 {
					background-color: #7e5b3f;
				}
				&.color-8 {
					background-color: #d7d7d8;
				}
				&.color-9 {
					background-color: #efbc87;
				}
				&.color-10 {
					background-color: #705340;
				}

			}
		}
	}
	.place {
		[class^=dsc] {
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
		}
		.dsc-1 {
			color: #4b4b4b;
		}
		.dsc-2 {
			color: #936348;
		}
	}
	.product {
		color: #4b4b4b;
		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 18px;
	}
	.rate {
		span {
			font-family: 'icomoon';
			display: block;
			font-size: 17px;
			position: relative;
			float: left;
			margin-right: 2px;
			&:before {
				content: '\e904';
				color: #4b4b4b;
				position: relative;
			}
			&:after {
				content: '\e905';
				color: #4b4b4b;
				position: absolute;
				left: 0px;
			}
			&.icon-full {
				&:before {
					color: #f7941e;
				}
				&:after {
					color: #f7941e;	
				}
			}
			&.icon-half {
				&:before {
					color: #f7941f;
				}
			}
		}
	}
	p {
		color: #4b4b4b;
		font-size: 12px;
		line-height: 16px;
		margin-top: 3px;
	}
	.price-block {
		padding-top: 13px;
		.price {
			display: inline-block;
			vertical-align: baseline;
			color: black;
			font-weight: 400;
			font-size: 36px;
			sub {
				font-size: 12px;
			}
		}
		.old-price {
			margin-left: 3px;
			font-size: 17px;
			font-weight: 900;
			color: #4b4b4b;
			display: inline-block;
			vertical-align: baseline;
			span {
				text-decoration: line-through;
			}
			sub {
				font-size: 12px;
			}
		}
	}
	.button-box {
		position: absolute;
		left: 15px;
		right: 15px;
		bottom: 24px;
		text-align: justify;
		font-size: 1px;
		@media #{$bp-blarge} {
			left: 10px;
			right: 10px;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			overflow: hidden;
		}
		.catalog-col--num {
			width: 94px;
			display: inline-block;
			vertical-align: middle;
			.calc-res {
				width: 100%;
				height: 34px;
				display: block;
				padding: 4px 28px;
				background-color: white;
				border: 1px solid #c1a285;
				border-radius: 16px;
				border-radius: 25px;
				position: relative;
				-webkit-user-select: none;
				-ms-user-select: none;
				-moz-user-select: none;
				.calc-minus {
					position: absolute;
					top: 4px;
					left: 4px;
					width: 24px;
					height: 24px;
					background-color: #c1a285;
					background-color: #c1a285;
					background-image: linear-gradient(to top, #b28c68 0%, #b28c68 20%, #d7c2b0 100%);	
					border-radius: 15px;
					text-align: center;
					cursor: pointer;
					i.ico-minus {
						display: block;
						&::after {
							content: '';
							display: block;
							position: absolute;
							width: 16px;
							height: 3px;
							background-color: #fff;
							margin: auto;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						}
					}
				}
				.calc-res--field {
					width: 100%;
					height: 24px;
					display: block;
					text-align: center;
					line-height: 24px;
					text-align: center;
					white-space: nowrap;
					.calc-field {
						width: 28px;
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						color: #4b4b4b;
						border: none;
						background: none;
						text-align: center;
						outline: none;
					}
				}
				.calc-plus {
					position: absolute;
					top: 4px;
					right: 4px;
					left: auto;
					width: 24px;
					height: 24px;
					background-color: #c1a285;
					background-color: #c1a285;
					background-image: linear-gradient(to top, #b28c68 0%, #b28c68 20%, #d7c2b0 100%);	
					border-radius: 15px;
					text-align: center;
					color: #fff;
					cursor: pointer;
					i.ico-plus {
						display: block;
						&::after {
							content: '';
							display: block;
							position: absolute;
							width: 16px;
							height: 3px;
							background-color: #fff;
							margin: auto;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						}
						&::before {
							content: '';
							display: block;
							position: absolute;
							width: 3px;
							height: 16px;
							background-color: #fff;
							margin: auto;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
		.btn {
			display: inline-block;
			vertical-align: middle;
			width: 142px;
			@media #{$bp-blarge} {
				width: 95px;
				padding: 0;
			}
		}
	}
}











.justify-c {
	&>.justify-item {
		vertical-align: middle;
		display: inline-block;
	}
}




































.js-dd-click {
	display: none;
}


div[class^=txt-stl] {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
}
.txt-stl-1 {
	font-size: 24px;
	line-height: 27px;
	@media #{$bp-blarge} {
		font-size: 20px;
	}
	@media #{$bp-large} {
		font-size: 15px;
	}
}
.txt-stl-2 {
	font-size: 53px;
	line-height: 52px;
	@media #{$bp-blarge} {
		font-size: 45px;
		line-height: 50px;
	}
	@media #{$bp-large} {
		font-size: 35px;
		line-height: 40px;
	}
	@media #{$bp-small} {
		font-size: 25px;
		line-height: 30px;
	}
}
.txt-stl-3 {
	font-size: 147px;
	line-height: 111px;
	@media #{$bp-blarge} {
		font-size: 120px;
		line-height: 110px;
	}
	@media #{$bp-large} {
		font-size: 110px;
		line-height: 100px;
	}
	@media #{$bp-small} {
		font-size: 60px;
		line-height: 50px;
	}
}







